
/* Button*/
/* .student {
   font-family: Arial;
   font-size: 2em;
   padding: 10px;
   border: 1px solid hsl(0, 50%, 50%);
}

.student p{
   margin:0;

}
 */

 /* Conditinal Rendaring : User greeting*/

 /* .welcome-message{
   font-size:2.5rem;
   background-color:hsl(120,100%,42%);
   color:white;
   padding:10px;
   border-radius: 5px;
   margin:0;
 }

 .login-promt{
   font-size:2.5rem;
   background-color:hsl(10, 100%, 42%);
   color:white;
   padding:10px;
   border-radius: 5px;
   margin:0;
 } */

 .list-category{
    font-size:2.5em;
    font-weight:bold;
    color:hsl(0, 0%, 20%);
    margin-bottom:10px;
    text-align:center;
    border:3px solid;
    border-radius:5px;
    background-color: hsl(185, 100%, 50%);

 }
 .list-items li{
  font-size: 2em;          /* Sets the font size to 2 times the base size */
  list-style: none;        /* Removes the default bullet points or numbers from the list */
  color: hsl(0, 0%, 25%);  /* Sets the text color to a dark gray, using the HSL color model */
  text-align: center;      /* Centers the text within each list item */
  margin: 0; 

}
.list-items li:hover{
  color:hsl(0, 0%, 45%);
  cursor:pointer;
  
}