
/* Button*/
/* .student {
   font-family: Arial;
   font-size: 2em;
   padding: 10px;
   border: 1px solid hsl(0, 50%, 50%);
}

.student p{
   margin:0;

}
 */

 /* Conditinal Rendaring*/

 .welcome-message{
   font-size:2.5rem;
   background-color:hsl(120,100%,42%);
   color:white;
   padding:10px;
   border-radius: 5px;
   margin:0;
 }

 .login-promt{
   font-size:2.5rem;
   background-color:hsl(10, 100%, 42%);
   color:white;
   padding:10px;
   border-radius: 5px;
   margin:0;
 }
